<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kviuff.shop.mapper.user.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.kviuff.shop.common.entity.SysUserRolePo">
        <result column="user_code" property="userCode"/>
        <result column="role_code" property="roleCode"/>
    </resultMap>

</mapper>